* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: #07121a;
  color: white;
}

::-webkit-scrollbar {
  width: 4px;
  margin-right: 10px;
}

::-webkit-scrollbar-thumb {
  background: #27272d;
  border-radius: 5px;
}
